[2016-09-06 03:48] yurrriq opened #1 "Fix tests on R16"
Looks like `iolist()` doesn't mean the same thing anymore.

[code]

[2016-09-07 05:21] yurrriq opened #2 "Shorten README.md"
Consider pulling out the **About** and **Usage** sections into Wiki pages or just standalone Markdown files.

[2016-09-07 16:12] yurrriq opened #3 "Discuss codifying elli_middleware behaviour"
Elli middlewares export any of `init/2`, `preprocess/2` and `postprocess/3`, and many `elli_handler` modules are also `elli_middleware` modules. Right now it's sort of casual. The `elli_middleware` module checks whether these functions are exported and acts accordingly. I think it'd be cool to spec out a proper behaviour so we can validate code at compile time and such.

[2016-09-07 16:16] yurrriq commented on #3
Perhaps the functions above should be optional callbacks in `elli_handler` instead.

[2016-09-07 16:27] yurrriq commented on #1
[Log](https://travis-ci.org/elli-lib/elli/jobs/157781688) for reference.

[2016-09-07 16:29] tsloughter commented on #1
Not sure what you mean? What is the failure.

[2016-09-07 16:31] yurrriq commented on #1
Check out the log I just linked. On R16B03-1, Dialyzer complains about something related to `elli:body()`, which is copied above.

[2016-09-07 16:39] tsloughter commented on #1
Meh, should just ignore it or remove R16 from the tests in my opinion, hehe.

[2016-09-07 18:45] yurrriq opened #4 "Update README wrt supported OTP versions"
We now only test on 17+, but it _should_ work on 15 and 16.

[2016-09-07 18:59] yurrriq opened #5 "Move type declarations (except req/0) into elli.erl"
See @tsloughter's [comment](https://github.com/elli-lib/elli_cookie/issues/4#issuecomment-245337016) re: naming collisions.

[2016-09-07 19:04] yurrriq commented on #1
R16 build is disabled in d2d6c05, thus avoiding the issue.

[2016-09-07 19:04] #1 closed, assigned to nobody

[2016-09-07 20:38] #5 closed, assigned to nobody

[2016-09-09 19:57] yurrriq opened #6 "Cut new release"
The elli-lib version has several improvements over the currently published version (1.0.5), namely wrt type naming collisions. I've merged `develop` into `master` and think it's good to go. The open issues either pertain to documentation or can wait.

@knutin, would you prefer I open a PR to knutin/elli, or should we just publish from here? Also, by _we_, I mean you, since you're the owner of the

[2016-09-12 22:05] tsloughter commented on #6
You may want to email him :)

Also note that he could add both or one of us to the hex package ownership if he was comfortable with that with `rebar3 hex owner add elli t@crashfast.com`.

[2016-09-18 15:51] deadtrickster opened #7 "Replace os:timestamp with monotnic time."
https://github.com/elli-lib/elli/blob/develop/src/elli_http.erl#L583 here.
timestamp is highly unreliable for measuring duration (i.e. time warps).

[2016-09-18 18:56] yurrriq commented on #7
Good call. I'd be happy to accept a PR. Can we artificially create a time warp in a test too?

[2016-09-18 19:07] deadtrickster commented on #7
The most obvious is to change OS time which requires permissions elevation. Why would you want to test this? No trust for OTP team :-)?

[2016-09-18 19:09] yurrriq commented on #7
Heh, fair point. We should use monotonic time though for sure.

[2016-09-18 19:24] deadtrickster commented on #7
how about backward incompatibility? should we even care about this? looks like upstream is 'stalled'?

[2016-09-18 19:25] yurrriq commented on #7
No, I don't think we should care. We might take care to amend any other middleware that use this timings, e.g. `elli_prometheus`, but in general this fork doesn't aim to be entirely backward compatible. I still need to lay out a proper plan and email @knutin...

[2016-09-19 04:09] yurrriq opened #8 "Fix sendfile tests"
Fix `sendfile/0` and `sendfile_range/0` in [`elli_tests`](https://github.com/elli-lib/elli/blob/develop/test/elli_tests.erl).

[2016-09-19 19:32] #7 closed, assigned to nobody

[2016-09-19 19:32] #8 closed, assigned to nobody

[2016-09-19 19:32] yurrriq commented on #4
#10 drops support for <18.

[2016-09-19 19:34] deadtrickster commented on #6
Can you publish prefixed package in the meantime?

[2016-09-19 19:34] yurrriq opened #11 "Consider workaround for erlang:monotonic_time/0 on OTP <18"
If there's a need, it shouldn't be too difficult to add support for OTP <18 via preprocessor directives or similar. I have no need for it personally, but I'll leave this issue open in case someone does.

[2016-09-19 19:35] yurrriq commented on #11
See #10 for details.

[2016-09-20 10:32] deadtrickster opened #13 "How to calculate request size?"
Response size is trivial - Headers iolist + Body iolist, but for requests Elli uses this built-in 'event-based' parser. Currently I have no idea how to calculate request size.

[2016-09-20 21:41] yurrriq commented on #6
Sounds like @knutin will add @tsloughter and me as owners soon. Then we can cut and publish a release.

We'll want to be sure the version reflects the breaking changes. Maybe 1.2.5 isn't dramatic enough.

[2016-09-20 21:41] yurrriq commented on #11
Sounds like AdRoll may have a need for this. If so, we should work it out.

[2016-09-20 21:44] tsloughter commented on #6
What is the breaking change? If it is not backwards compatible it'll have to go to 2.0.0.

[2016-09-20 21:45] yurrriq commented on #6
https://github.com/elli-lib/elli/compare/b617611a5a552c264b4a69a0d44d998621d3ad18...6d96cd87302f2542b2cc9fb40e4a1292955f9fa7

[2016-09-20 21:49] tsloughter commented on #6
So the metrics callbacks changed or something? In that case then 2.0.0, if it is just removal of older OTP support than 1.2.0 is fine.

[2016-09-20 22:42] #2 closed, assigned to nobody

[2016-09-20 22:42] #4 closed, assigned to nobody

[2016-09-20 23:04] yurrriq commented on #6
Yeah, instead of just `Timings` it now returns `{Timings,Sizes}`. I've bumped to 2.0.0 and cleaned up the docs. I think we should be all set for 2.0.0.

[2016-09-20 23:05] yurrriq commented on #6
We may want to come up with a solution for #13 first.

[2016-09-20 23:09] deadtrickster commented on #6
What about this one: https://github.com/elli-lib/elli/pull/14. Travis build fails but locally it's green ¯_(ツ)_/¯

[2016-09-20 23:13] yurrriq commented on #6
Haven't had a chance to look at it, that'd be good too.

[2016-09-21 07:46] deadtrickster commented on #3
When erlang started in interactive mode and Elli is just another dependency (i.e. elli_prometheus tests), you can't just set {callback, elli_middleware} because it won't pass `valid_callback` since module isn't loaded yet. So either we should force module loading before/in `valid_callback` or  don't call it at all.

This of course applies to 3d part middlewares too.

[2016-09-21 08:06] yurrriq commented on #3
Which module isn't loaded, elli_middleware or e.g. elli_prometheus?

[2016-09-21 08:24] deadtrickster commented on #3
elli_middleware! Basically in interactive mode erlang won't load module until it called or its metadata asked.

[2016-09-21 08:28] deadtrickster commented on #3
https://github.com/elli-lib/elli_prometheus/pull/11/files#diff-ccb26da865ea3c50c86dd4ae91942d2fR22

[2016-09-21 08:32] yurrriq commented on #3
I made the change from parsing `Mod:module_info/1` to `erlang:function_exported/3`. Should we revert back?

[2016-09-21 08:35] deadtrickster commented on #3
yeah!

[2016-09-21 08:44] yurrriq commented on #3
Done.

[2016-09-21 08:47] deadtrickster commented on #3
Awesome, thanks!

[2016-09-21 17:56] yurrriq opened #15 "if-modified-since header support"
As in https://github.com/elli-lib/elli_fileserve/issues/5, I think we should have generic support for this in elli itself. elli_fileserve et al. could then hook into it.

[2016-09-21 17:58] yurrriq opened #16 "etag support"
As in https://github.com/elli-lib/elli_fileserve/issues/6, there should be a generic, configurable facility for this in elli.

[2016-09-22 23:02] yurrriq commented on #6
@tsloughter and I have Hex rights now. Is there anything else we wanna do before cutting 2.0.0?

[2016-10-17 20:49] yurrriq commented on #11
@knutin, any update re: the need for support for OTP <18?

[2016-10-17 20:50] yurrriq commented on #6
Bump. I think we're good to go. What do y'all think?

[2016-10-17 20:55] deadtrickster commented on #6
Let's do this 👍

[2016-10-18 11:01] knutin commented on #11
I think we're fine without it for these new releases.

Worst case, we can add workarounds later.

[2016-10-25 00:44] yurrriq commented on #6
Published [2.0.0](https://hex.pm/packages/elli/2.0.0). Please test and let me know how it goes.

[2016-10-25 00:44] #6 closed, assigned to nobody

[2016-11-09 16:10] yurrriq opened #18 "Send file bytes manually over SSL socket"
See #17 for discussion and bad solution.

[2016-11-09 16:10] yurrriq commented on #11
Closing for now. We can reopen should the need arise.

[2016-11-09 16:10] #11 closed, assigned to nobody

[2016-11-09 21:56] deadtrickster commented on #18
https://github.com/erlang/otp/blob/maint/lib/kernel/src/file.erl#L1290
https://github.com/ninenines/ranch/blob/master/src/ranch_transport.erl#L56

[2016-11-12 15:17] mbucc opened #19 "Request durations too large"
I'm seeing request durations (request_end - request_start) of multiple seconds for sub-second page refreshes in browsers, but not curl.

That metric seemed like best measure of true response time (as noted in original elli sources).

What is going on?

Here's the prometheus.erl code:

[code]

the Erlang interpreter output:

[code]

and if I use curl instead, I get output like this:

[code]

Chrome

[2016-11-12 15:27] mbucc commented on #19
If I revert to old Elli (https://github.com/knutin/elli.git), change `{Timer, Size}` back to `Timer` and use `timer.now_diff(End, Start)`, then I get durations as I expect when using a browser:

[code]

Is this change in behavior from 1.0.5 to 2.0.0 expected?

[2016-11-12 17:50] yurrriq commented on #19
/cc @deadtrickster

[2016-11-12 18:33] yurrriq commented on #19
Also, @deadtrickster, we should add this explanation to the [overview](https://github.com/elli-lib/elli/blob/develop/doc/overview.edoc).

[2016-11-12 19:41] deadtrickster commented on #19
Interesting.
First of, /hello/world actually sleeps for a second (I'm using it in tests I remember)

Secondly, accepted and request_start times are sometimes from the past (Not sure how to describe it -
chrome says request took 1 second):

[code]

Another try:

[code]

1 second!

Can't reproduce with curl too :-)

o_O

[2016-11-12 19:47] deadtrickster commented on #19
Keep alive?

EDIT: accepted time not erased when request finished. It dies with the handling process

[2016-11-12 20:00] deadtrickster commented on #19
elli_http.erl handle_request

[code]

when request comes from curl Raw is "always" zero.
when first request comes from browser Raw is "always" zero
second and following requests from browser (keep-alive) - Raw is non zero

Conclusion: keep-alive related problem

Wild guess Raw correlates with time between keep-alive requests

Of course it correlates :-) keep alive implemented as rescoursive keepal

[2016-11-12 20:17] deadtrickster commented on #19
How I thought this could work

-Accept - socket accept timestamp
- Keep alive loop
  - Request Start - first byte received
    - Headers Start - HTTP request line received
    - Headers End - HTTP headers received
  - Request End

but get_request actually collapses first_byte and request line received to the same event

So maybe all is needed is to move t(request_start) to get_request

[2016-11-12 20:50] yurrriq commented on #19
Awesome, thanks @mbucc and @deadtrickster. I'd gladly accept a PR (with tests) to fix this, @deadtrickster. Otherwise I might be able to get to it early next week.

[2016-11-12 21:17] mbucc commented on #19
I would like to look at the diff from 1.0.5 to see what caused the change in behavior.

[2016-11-12 23:09] yurrriq commented on #19
The metrics (timing and now size) handling was completely rewritten. This link should work: https://github.com/knutin/elli/compare/v1.0.5...elli-lib:2.0.0

[2016-11-12 23:11] yurrriq commented on #19
Namely #10.

[2016-11-12 23:41] deadtrickster commented on #19
Actually I think this would be easy to fix. Right now headers_start can be used instead of request_start.

RE: PR. The idea remains the same - request_start should help to measure time-to-first-byte for the (first KA) request. For the next KA requests - time-to-second-byte (extreme example - very slow client sends one byte per second). If request is not the first, we set request_start when first b

[2016-11-13 03:28] mbucc commented on #19
Looks like the order of calls changed with that #10 patch:

old:

[code]

new:

[code]

I don't see anything else.  I'm not sure how that would cause durations get as high as seven seconds.   I think it is related to your comment above: "but get_request actually collapses first_byte and request line received to the same event".

[2016-11-25 07:01] deadtrickster commented on #19
Ok, now when this error mentioned in blog post, we can fix it :-)

[2016-11-27 19:28] #19 closed, assigned to nobody

[2016-12-01 11:59] deadtrickster opened #21 "Study other Elli forks"
While our fork is the most active one I'm sure we can learn people's needs by looking at the other forks:
https://github.com/knutin/elli/network.

I think the ultimate goal may be to incorporate all features and fixes accumulated so far.

[2016-12-27 18:14] deadtrickster opened #22 "Push new version to hex"
with timing fix

[2016-12-27 18:29] yurrriq commented on #22
Can you bump the version and regenerate docs? I can publish a new release this afternoon.

[2016-12-27 18:49] deadtrickster commented on #22
done

[2016-12-27 19:01] yurrriq commented on #22
Thanks. I should be able to publish within an hour.

[2016-12-27 19:46] yurrriq commented on #22
https://hex.pm/packages/elli/2.0.1

[2016-12-27 19:46] #22 closed, assigned to nobody

[2016-12-27 20:35] yurrriq opened #24 "Update CHANGELOG.md"
- [x] [`2.0.0`](https://github.com/elli-lib/elli/releases/tag/2.0.0): [`v1.0.5...2.0.0`](https://github.com/elli-lib/elli/compare/v1.0.5...2.0.0)
- [x] [`2.0.1`](https://github.com/elli-lib/elli/releases/tag/2.0.1): [`2.0.0...2.0.1`](https://github.com/elli-lib/elli/compare/2.0.0...2.0.1)
- [x] Add CHANGELOG link to Hex metadata

[2016-12-27 20:59] deadtrickster commented on #24
and add changelog link to hex package links...

[2017-01-10 17:43] deadtrickster commented on #21
https://github.com/anha0825/elli (This branch is 6 commits ahead, 103 commits behind knutin:master.)
https://github.com/altworx/elli (This branch is 2 commits ahead, 38 commits behind elli-lib:develop.)
https://github.com/flodihn/elli (This branch is 4 commits ahead of knutin:master.)
https://github.com/istr/elli (This branch is 20 commits ahead, 77 commits behind knutin:master.)
https://github.co

[2017-01-16 17:19] tsloughter opened #26 "Changes to knutin/elli"
@anha0825 is merging PRs to `knutin/elli`. We need to bring them over and figure out if this is going to be the canonical or if we need to be sure to track upstream so we don't miss any changes that get merged.

[2017-01-16 18:27] yurrriq commented on #26
:+1: I've already merged a version of https://github.com/knutin/elli/pull/101 to fit elli-lib/elli, but I agree generally.

[2017-02-16 21:47] deadtrickster opened #27 "Instrumentation infrastructure for plugins"
Add API so plugins can instrument themselves, just like main Elli does. Something generic, or just use Prometheus/Prometheus data model?

[2017-02-25 07:45] CrowdHailer commented on #21
It might be worth asking other maintainers what issues the wished to solve when opening a fork.

That is the question I want ask you now.

- How come you started a fork?
- What is your intention re. HTTP/2?

I have an elli adapter for my project and it was suggested we switch to this fork

https://github.com/CrowdHailer/raxx/issues/33

[2017-02-25 11:06] yurrriq commented on #21
I started this fork to "modernize" elli, fix a few bugs, publish (an) updated Hex package(s) and because as I understood it, @knutin isn't actively maintaining/using elli anymore. Re: HTTP/2, I'd defer to @tsloughter.

I would of course suggest switching to this fork :smile:

Re: the SSL discussion over there. In the past I've used a similar approach with nginx in front of an elli web app and gott

[2017-02-25 12:45] CharlesOkwuagwu opened #28 "Can we add `scheme`, `host`, `port `to the elli request record type?"
Please can we add `scheme`, `host`, `port `metadata to elli request record type (:req)?

Why is it being discarded here? https://github.com/elli-lib/elli/blob/develop/src/elli_http.erl#L688

[code]

[2017-02-25 14:34] deadtrickster commented on #28
I can do this tonight.

@yurrriq

[2017-02-25 14:37] deadtrickster commented on #21
What's with SSL?

[2017-02-26 07:21] CrowdHailer commented on #21
@deadtrickster The raxx issue mentioned in my previous comment was to set up SSL across the project, one part of which was using the elli adapter. CharlesOkwuagwu was working on that effort so he might have more specifics

[2017-02-26 09:40] CharlesOkwuagwu commented on #21
@deadtrickster this article http://ezgr.net/increasing-security-erlang-ssl-cowboy/ prompted me to try same with elli.

How does elli handover extended params to erlang ssl?

Looking at elli code it seems to only pass the certfile and keyfile.

Can this be extended?

[2017-02-26 09:59] deadtrickster commented on #21
yes of course. I will look into this ASAP.

[2017-02-26 09:59] deadtrickster commented on #21
feel free to submit PR too ;-)

[2017-02-26 17:02] deadtrickster commented on #28
So I looked into this and it appears that {absoluteURI branch never used.
Which means we have to do two things:

1) Find where and why it was introduced
2) Add asked field like this:
   - `scheme` - type of socket (http/https)
   - `port` - port of socket
   - `host` - from host header.

The last one is more tricky - Host field can have host AND port. We could probably add this too under `host_por

[2017-02-26 17:51] CharlesOkwuagwu commented on #28
If we are just matching on the output of erlang:decode_packet/3 i think it simplifies this considerably

[2017-02-26 18:49] CharlesOkwuagwu commented on #28
@deadtrickster I have submitted a patch to add the required changes, but I can't get it to pass your build system... please help review.

Thanks.

[2017-03-03 19:42] CharlesOkwuagwu opened #30 "Intermittent crashes without detailed logs"
Hi, i've been getting these errors intermittently but there is not crash detail.

Please how can I enable verbose logging by default on Elli?

[code]

[2017-03-03 20:54] yurrriq commented on #30
Elli doesn't do much in the way of logging. The onus is on the user to do so.

To debug your issue, I'd recommend adding a [`handle_event/3`](https://github.com/elli-lib/elli/blob/develop/doc/elli_example_callback.md#handle_event-3) implementation with clauses that match relevant events and logs information useful to you.

Alternatively, `redbug` from [eper](https://github.com/massemanet/eper) is

[2017-03-15 08:45] yurrriq commented on #30
Closing since there's no such setting and this looks like an error in the handler module rather than in elli itself.

[2017-03-15 08:45] #30 closed, assigned to nobody

[2017-03-15 08:46] yurrriq commented on #28
So #29 won't get the job done without a pretty thorough overhaul. I'm wondering, what's your need to add these fields to `#req{}`? On second thought, I'm fairly hesitant to make such a drastic change.

[2017-03-15 08:55] CharlesOkwuagwu commented on #28
That's fine. It just seemed that elli was needlessly discarding metadata from the request.

I felt it would be easy to capture, hence the PR i submitted.

It does require changes to  `#req{}`, but other than that, everything else would work as it had worked prior.

[2017-03-15 08:57] deadtrickster commented on #28
Actually I think these fields are rather useful (think routing, validation, etc). I just forgot about #29 :-)

[2017-03-15 08:58] CharlesOkwuagwu commented on #30
It was the handler module.

Thanks.

[2017-03-15 09:03] deadtrickster commented on #30
Can we at least add an option to turn stacktraces on?

[2017-03-15 09:25] yurrriq commented on #28
Ok. I've got a WIP stashed locally.

[2017-03-15 09:25] yurrriq commented on #28
I can push if you want to have a look.

[2017-03-15 09:26] deadtrickster commented on #28
please do!

[2017-03-15 09:33] yurrriq commented on #28
@deadtrickster: bfcca833a178b5b061715355a45260f43d816e6d

I've made `FIXME` notes throughout.

*Edit*: I'm off to bed. Feel free to take over the branch.

[2017-03-15 09:37] yurrriq commented on #30
Stack traces are passed in `request_{throw,error,exit}` events.

[2017-03-15 09:39] yurrriq opened #31 "Mention stack traces in elli_example_callback docs"
See discussion on #30.

[2017-10-17 04:26] yurrriq opened #34 "Add test(s) to make sure incomplete requests are handled properly"
Don’t let #33 happen again.

[2017-10-17 04:28] yurrriq commented on #26
Bump to check again.

[2017-10-17 04:29] yurrriq commented on #27
:+1: for generic, but skewing Prometheus-friendly.

[2017-10-18 17:22] evanmcc commented on #34
I will do my best.  I punted on this initially because it seemed hard.  Taking a quick stab at it proves that it's not simple.  When some time frees up I'll do my best to figure out how to trigger it deterministically.

[2017-11-20 20:15] tsloughter commented on #28
@yurrriq what happened with this?

[2017-11-24 18:53] tsloughter opened #35 "Context"
Currently there is only the pdict as a way to track the context of a request (requestid, trace and span ids, etc) through middlewares to handlers.

I see two possibilities for expanding this, one which would be a major change to the elli interface and require a major version bump and the other being a simpler extension but feels sort of hacky.

The major change option would be to pass a context th

[2017-11-25 21:19] yurrriq commented on #35
I support the idea of a modifiable context. Using ctx or similar as a layer of abstraction seems sound too, so it would be easier to patch for different scenarios, e.g. using some underlying structure other than maps.

I'm very fond of the way [Ring](https://github.com/ring-clojure/ring/blob/master/SPEC) works in Clojure, and their requests and responses are basically extensible maps as you descri

[2018-02-12 23:37] tsloughter opened #37 "Official Elli repo"
The question/confusion is coming up again.

@knutin would you be willing to have `knutin/elli` redirect to `elli-lib/elli`? Or put in the `knutin/elli` title or readme to go to `elli-lib/elli`?

[2018-02-13 17:13] lpil opened #38 "Improve documentation"
Hi there!

I'm enjoying Elli after switching a couple projects to it from Cowboy.

My main problem has been lack of documentation, for example I needed to read the source code to determine how to use middleware (and I feel I'm still missing many of the details).

I feel this results in Elli being less accessible and less likely to be used, especially to people who are more used to Elixir rather th

[2018-02-13 17:15] deadtrickster commented on #38
Hi,

you totally right! we need more examples and use-cases. Personally I don't have much time for this unfortunately. But if you decide to contribute I'll be happy to discuss and merge.

[2018-02-13 17:21] lpil commented on #38
Cool. Where would you like me to put them?

[2018-02-13 17:24] deadtrickster commented on #38
I think starting with extending REAME would be good enough. complete app(s) can go to a separate directory.

[2018-02-13 17:45] lpil opened #39 "Error handling"
Hello!

Is there a recommended way of handling errors so that an application using Elli serves 500 with a suitable body whenever the handler crashes?

Thanks,
Louis

[2018-02-13 18:01] yurrriq commented on #26
Closing since we already have something like https://github.com/knutin/elli/pull/108 and there's nothing new.

[2018-02-13 18:01] #26 closed, assigned to nobody

[2018-02-13 18:02] yurrriq commented on #38
I wouldn't mind a separate elli-lib repo even.

[2018-02-27 13:46] knutin commented on #37
Yes. I just added a link in the README to `elli-lib/elli` :-)

[2018-03-01 01:16] tsloughter commented on #37
Thanks!

[2018-03-01 01:16] #37 closed, assigned to knutin

[2018-03-01 12:52] yurrriq commented on #28
Missed that comment.. I'm not sure what happened with this either.

[2018-03-01 12:58] yurrriq commented on #39
Is this behaviour insufficient?

- https://github.com/elli-lib/elli/blob/2.0.2/src/elli_example_callback.erl#L118-L121
- https://github.com/elli-lib/elli/blob/2.0.2/test/elli_tests.erl#L238-L243

[2018-03-01 13:04] lpil commented on #39
At my company we have a specific format for error bodies.

Currently I'm catching at exceptions and thrown values in the callback and returning said body. Is this the recommended way to do this? :)

[2018-03-01 13:24] yurrriq commented on #39
I would suggest to use `postprocess/3` something like this:

[code]

[2018-03-01 14:25] lpil commented on #39
Wonderful, thank you.

I see that `postprocess` isn't part of the `elli_handler` behaviour. I presume it goes in the same module?

[2018-03-01 15:15] yurrriq commented on #39
Yeah! I'd love to codify an `elli_middleware` behaviour.

[2018-03-01 15:52] lpil commented on #39
That would be great. It's quite unclear how to use the middlewear features at the moment I think.

[2018-03-01 20:01] tsloughter commented on #35
`ctx` is being used by https://github.com/tsloughter/grpcbox and https://github.com/census-instrumentation/opencensus-erlang

But I don't know how we would do this without breaking backwards compatibility and being forced on those who just want to keep using the `req` record.

[2018-03-02 23:48] yurrriq opened #42 "Publish 2.0.3"

[2018-03-02 23:53] yurrriq commented on #42
Never mind. It only includes test changes.

[2018-03-02 23:53] #42 closed, assigned to yurrriq

[2018-03-02 23:53] yurrriq opened #43 "Consider deleting and recreating the repo"
That way code search and such will work.

[2018-03-03 06:59] deadtrickster commented on #43
I agree. Wrote to the support. We don't have to delete it, Github team can disconnect it

[2018-03-03 18:26] deadtrickster commented on #43
Done

[2018-03-03 18:26] #43 closed, assigned to nobody

[2018-03-05 01:58] yurrriq commented on #43
Awesome, thanks!

[2018-03-05 19:37] tsloughter commented on #35
Hm, was just thinking I'd do it as an alternative to `elli_middleware`, so a `elli_ctx_middleware`. Only issue is this would mean each handler would have to support both :(. I suppose it could do some sort of check if it should pass req or ctx to the handler...

[2018-03-05 19:54] tsloughter commented on #35
Or not exactly... `init` can only return `{ok, standard | handover}` right now and I think it would be the right place to allow configuring the deadlines of a context for that request.

[2018-03-06 00:36] yurrriq commented on #35
could we use a preprocessor directive to determine if we should use `#req{}` or a ctx map? I think most of the `#req{}` accessors are abstracted in `elli_req` already.

[2018-03-06 02:06] yurrriq commented on #35
I'm nearly done implementing that in a branch.

[2018-03-06 07:23] yurrriq commented on #39
This seems pretty related to elli-lib/elli_fileserve#7 and #3. Also note that I've spec'd out `init/2`, `preprocess/2` and `postprocess/3` as optional callbacks in `elli_handler` in 71a7c9aaf19ef2f0e782476a05c3bfb1ad5ad941.

[2018-03-06 07:27] yurrriq commented on #21
Closing this. We should create separate issues for any outstanding concerns.

[2018-03-06 07:27] #21 closed, assigned to nobody

[2018-03-06 07:27] yurrriq commented on #27
Any new thoughts on this?

[2018-03-06 07:36] yurrriq commented on #35
See #44 for progress.

[2018-03-06 08:57] yurrriq commented on #31
Closing in favor of #38.

[2018-03-06 08:57] #31 closed, assigned to nobody

[2018-03-07 18:40] lpil commented on #39
That's much clearer for me, thanks :)

[2018-03-08 14:48] yurrriq commented on #39
Great! I’ll publish a new release in the next few days.

[2018-03-13 03:23] #3 closed, assigned to nobody

[2018-03-13 07:21] #18 closed, assigned to nobody

[2018-03-13 08:16] yurrriq commented on #39
https://hex.pm/packages/elli/2.1.2

Feel free to re-open if need be, but I'm closing this for now.

[2018-03-13 08:16] #39 closed, assigned to nobody

[2018-03-14 02:36] yurrriq commented on #15
This should live in [elli_cache](https://github.com/elli-lib/elli_cache)

[2018-03-14 02:36] #15 closed, assigned to nobody

[2018-03-14 02:37] yurrriq commented on #16
This lives in [elli_cache](https://github.com/elli-lib/elli_cache).

[2018-03-14 02:37] #16 closed, assigned to nobody

[2018-03-14 13:13] lpil commented on #38
Hi @yurrriq, could you make an `elli-example` repo please? I'll make a pull request there afterwards :)

[2018-03-14 13:16] deadtrickster commented on #38
https://github.com/elli-lib/elli-example

[2018-03-14 13:44] lpil commented on #38
examples would be better than example unless we only want one example per repo.

I was imagining many small ones in there for users to read without getting lost in a big app

[2018-03-14 13:45] lpil commented on #38
Also this seems to hand been closed prematurely, the documentation is still very sparse.

[2018-03-14 14:02] deadtrickster commented on #38
I closed this issue accidentally

[2018-03-14 14:04] lpil commented on #38
Thanks @deadtrickster ! :)

[2018-03-14 14:35] lpil commented on #38
Me again, sorry. I don't seem to be able to make a PR until there is a first commit. Could you perhaps make a commit with an empty README or such?

[2018-03-21 11:04] lpil commented on #24
Can we get one for 3.0.0? I'd like to upgrade but it unclear what has changed.

[2018-03-21 14:13] yurrriq commented on #24
2.1.2...3.0.0 adds `scheme`, `host`, and `port` to `#req{}`

[2018-03-21 14:17] lpil commented on #24
So we can close this?  ￼https://github.com/elli-lib/elli/issues/28 ? :)

[2018-03-21 14:50] #28 closed, assigned to nobody

[2018-04-08 15:48] lpil opened #50 "Handling exceptions via middleware"
Hello!

I'd like to create an Elli middleware for reporting exceptions that we can use in all our services. When added to the middleware stack it would catch any errors thrown by later middleware (or receive a report of these errors) and send them to our error aggregation service.

Is it possible to do this with the current Elli middleware system? I've been unable to find a way to do this and have

[2018-04-08 19:41] yurrriq commented on #50
Does [`handle_event/3`](https://github.com/elli-lib/elli/blob/3.0.0/src/elli_handler.erl#L39-L42) work for you?

[code]

[2018-04-08 22:20] lpil commented on #50
Wonderful, thank you!

[2018-04-08 22:20] #50 closed, assigned to nobody

[2018-04-09 00:53] yurrriq commented on #50
You’re welcome! Glad I could help.

[2018-04-09 01:48] yurrriq commented on #24
Closing this. We can open a new one if we want to add more detail to `CHANGLOG.md`.

[2018-04-09 01:48] #24 closed, assigned to nobody

[2018-04-11 22:56] tsloughter opened #51 "Replace proplists with maps for timings and sizes"
Is there any objection to this? Maps have been available for the last 3 major releases, going on 4 major releases soon enough. Proplists don't make much sense for things that don't need the true/false functionality.

[2018-04-11 23:05] tsloughter commented on #51
Bleh, maybe not worth it, would have to replace the `lists:filtermap` with a `foldl` that builds the map... hm

[2018-04-11 23:08] tsloughter commented on #38
@lpil looks like there is one now.

Also, we should publish docs to hex. I'm fine putting all docs in edoc stuff and publishing to hex for everything, but we could also consider something like readme.io.

[2018-04-11 23:09] tsloughter commented on #13
Hah, I just asked this same question in slack.

[2018-04-11 23:32] lpil commented on #38
Aye, I've made some PRs since :)

Documentation on hexdocs would be fantastic from my point of view

[2018-04-12 00:42] yurrriq commented on #51
I don't object. We don't officially support OTP versions <18 anyway.

[2018-04-30 18:54] tsloughter commented on #27
I don't understand what this means.

[2018-04-30 21:57] yurrriq commented on #27
I think the idea is to codify and expose an API for calculating timings, as we do internally, such that a middleware can do the same to instrument itself, without having to reimplement anything... if that makes sense.

[2018-05-05 16:04] tsloughter commented on #27
Ah ok, that is how I took it at first too but not sure how that relates to prometheus? We are just talking about the timing and size atoms, like those that already exist?

[2018-05-05 16:05] tsloughter commented on #13
Simple version in #52 just using content-length. Will need #27 for being able to track request size of anything else.

[2018-05-05 21:05] yurrriq commented on #27
/ping @deadtrickster

[2018-05-06 22:37] yurrriq opened #56 "Fully drop support for OTP <18"
We "officially" support 18+, so let's drop any lingering obviated conditional logic,
e.g. the `-ifdef('16.0')` in #55.

[2018-05-12 10:17] CrowdHailer opened #59 "Is changelog entry for 3.1.0 missing"
I have installed 3.1.0 from hex but cannot see a changelog entry?

[2018-05-12 15:41] yurrriq commented on #59
Thanks! You’re right. We’ll add one.

[2018-05-21 10:55] johnhamelink opened #60 "Unable to run pre hooks for 'compile', command 'erl_vsn' not found. in 3.1.0"
Hi guys,

I'm trying to upgrade from 3.0 to 3.1, but I'm getting the following error on both my dev machine and in CI:

[code]

It seems that since 3.0, `rebar_erl_vsn` was added to `rebar.config`, could this be the source of the issue?

I'm running Erlang 20.3.6 and Elixir 1.6.3.

[2018-05-31 15:34] lpil commented on #60
Hi friends, any update here? It'd be great to use the latest Elli

[2018-05-31 22:01] yurrriq commented on #60
Looks like maybe a Mix issue to me. As a workaround could override the elli hooks in your `rebar.config`.

[2018-06-07 12:10] ghost commented on #60
Similar issue [here](https://github.com/erlang/rebar3/issues/1804) you might want to follow. B

[2018-07-24 10:09] lpil commented on #60
The above issue is closed, does that mean this is fixed?

[2018-07-24 10:59] ghost commented on #60
@lpil I believe so, but you'll need to ensure you're running rebar3 v 3.6.0 or higher.
* https://github.com/erlang/rebar3/releases/tag/3.6.0
* https://github.com/erlang/rebar3/pull/1810

[2018-07-24 15:09] lpil commented on #60
It works! Shall we close this?

[2018-07-24 15:26] ghost commented on #60
@johnhamelink ?

[2018-07-24 15:48] lpil commented on #60
FWIW, John and I work together at Honeycomb TV, we've resolved the issue in the projects in question :)

[2018-07-25 13:04] #60 closed, assigned to tsloughter

[2018-07-25 13:04] johnhamelink commented on #60
Thanks guys :)

[2018-08-10 13:29] ghost opened #64 "Add ability to request the port elli's running on?"
👋

Something like

[code]
and in `elli_tcp`:
[code]

I mostly would need it to run tests concurrently in elixir:
[code]

Or maybe there are other ways for elli to bind to a random port such that I'd know about the port elli did bind to?

[2018-08-10 17:10] ghost opened #65 "apply check_max_size logic to headers as well"
Right now it's possible to "load" the socket with large headers, so I don't think there are any checks for this scenario (other than headers count < 100).

[2018-08-10 17:13] ghost commented on #65
Example of a failing test (in elixir)

[code]

[2018-08-10 17:38] ghost commented on #65
Possibly applies to the request line (`get_request`) as well.

[code]

[2018-08-13 05:44] yurrriq commented on #64
Instead, couldn't you generate a list of ports and spin up multiple instance of elli from that, keeping track of their ports?

[2018-08-13 05:45] yurrriq commented on #65
Looks like a bug to me. Thanks for pointing it out. PRs are most welcome!

[2018-08-13 05:50] ghost commented on #64
What if the ports are already taken by other processes running on the system? I'd need to handle `eaddrinuse` errors then ...

[2018-08-13 05:51] ghost commented on #65
Great! I'll try to make one today.

[2018-08-13 16:55] #65 closed, assigned to nobody

[2018-08-13 22:47] yurrriq commented on #64
I'm not opposed to reviewing a PR for this.

[2018-12-11 18:25] ldmberman opened #68 "Consider not using X-Forwarded-For as a primary source of the peer address"
`elli_request:peer/1` [uses X-Forwarded-For](https://github.com/elli-lib/elli/blob/develop/src/elli_request.erl#L69) as the primary source of the request origin.

This is concerning because the header can not be trusted so applications using `elli` are not able to rely on `elli_request:peer/1` when IP addresses are used in scoring systems and blacklists.

At the very least, it would be helplful to

[2018-12-12 05:15] yurrriq commented on #68
Thanks for the feedback! Pull requests are most welcome, and we'll do our best to review in a timely manner.

[2019-01-12 13:33] galdor opened #70 "Keeping state in the lifecycle of a request"
I'm having issues keeping state in the lifecycle of a request. More precisely, I'd like to be able to pass data between handlers, and between `init`, `preprocess`, `handle` and `postprocess` in each handler.

It seems to be a common pattern in Erlang to explicitely propagate state, for example in `gen_server`, but it is not the case in elli.

#35 suggests that the only way is the process dictionar

[2019-01-13 02:45] yurrriq commented on #70
This kind of patch is certainly welcome! And I don't know if anyone is working on anything similar currently. I had started a branch (see #44), but abadoned it. It'd be cool to use @tsloughter's [ctx](https://github.com/tsloughter/ctx), but I don't think we're necessarily married to it, if you have a better, reasoned idea.

[2019-01-13 12:24] galdor commented on #70
Got it. I'll try to work on a minimal version and submit a pull request for comments.

[2019-01-13 13:26] galdor commented on #70
For future reference, this kind of feature would break the API. Is this ok ? It feels like it would be quite convoluted to support both the presence and absence of state everywhere.

[2019-01-14 19:50] yurrriq commented on #70
We'll need a major version bump then.

[2019-01-15 20:20] galdor commented on #56
The title says to drop <=18, but the body says 18+ is supported. Which one is right ? I'm not sure there is any point in supporting 18.x, but who knows :)

[2019-01-15 20:56] yurrriq commented on #56
Good question. I can't remember. I think maybe I meant <18.

[2019-01-15 21:01] galdor commented on #56
In any case I believe this issue could be closed now.

[2019-01-15 21:10] #56 closed, assigned to nobody

[2019-01-31 16:32] yurrriq opened #72 "Publish new version"
Per comment on #61.

[2019-02-20 23:33] yurrriq commented on #72
@tsloughter, do you wanna do this for 3.2.0?

[2019-02-20 23:33] tsloughter commented on #72
Yup, doing now.

[2019-02-20 23:33] yurrriq commented on #72
Sweet, thanks!

[2019-02-21 07:07] yurrriq commented on #72
https://hex.pm/packages/elli/3.2.0

[2019-02-21 07:07] #72 closed, assigned to nobody

[2019-04-25 00:48] tsloughter commented on #68
Resolved by #75

[2019-04-25 00:48] #68 closed, assigned to nobody

[2019-07-23 09:10] jmmontenot opened #76 "SSL_accept deprecated since OTP 21"
Since OTP 21,
ssl:ssl_accept/2: deprecated; use ssl:handshake/2 instead

a little bit of explanation about this change can be found [here](https://blog.voltone.net/post/19)

it's only a warning during compilation, but it's you use warning_as_error for production mode, it might be a problem;

handshake method not exist before OTP 21, it's not very easy to switch to this version.
do you have roadmap

[2019-07-23 20:41] yurrriq commented on #76
Thanks for pointing this out! For now we support back to 18.0, but I'm not sure we need to go that far anymore. Thoughts, @tsloughter?

[2019-07-23 20:52] tsloughter commented on #76
Huh, could have swore we already fixed this. I can send a PR later today to wrap the usage i a macro to use one or the other depending on the version of OTP.

[2019-07-23 21:50] yurrriq commented on #76
Me too. Didn't this solve it? https://github.com/elli-lib/elli/pull/61

[2019-07-23 22:01] tsloughter commented on #76
Yea, should have. So either the regex doesn't work right or maybe @jmmontenot you are on an old version of elli?

Though I would change it to use just `-ifdef(OTP_RELEASE)` for otp21+ to be simpler but not important.

[2019-07-24 06:49] jmmontenot commented on #76
you are right, I had not read the code, -ifdef(post20) is present to switch between ssl:handshake or ssl:ssl_accept (i use Elli 3.2.0).

by adding {d, post20) in rebar compilation options, it's works.

I agree with @tsloughter, it would be easier with -ifdef(OTP_RELEASE) / -if(?OTP_RELEASE >= 21).
maybe for a next enhancement.

thanks for your support.

[2019-07-24 06:49] #76 closed, assigned to nobody

[2019-08-12 12:37] Santiniis opened #77 "Version 3.2.0 changelog entry missing"
I believe that the documentation is missing the changelog entry for version 3.2.0.

[2019-08-12 17:28] yurrriq commented on #77
Quite right. Thanks for the report.

[2019-08-12 17:40] #77 closed, assigned to nobody

[2019-11-13 09:56] lpil opened #78 "HTTP2 support"
It's be great to have HTTP2 support in Elli!

This seems like quite an ambitious addition but I thought I'd open an issue anyway :)

[2019-11-13 13:58] tsloughter commented on #78
@lpil I don't think it should ever be added to elli itself, which is why I created https://github.com/elli-lib/elli_chatterbox.

Obviously issue being they don't have a shared form of request and configuration, all they share is the tcp acceptor which based on if you send a h2 upgrade in ssl it goes to http2.

But this could be built on to provide a shared interface for both while keeping it not a

[2019-11-13 16:13] yurrriq commented on #78
:+1: to shared interface and an example in https://github.com/elli-lib/elli-examples

[2020-01-17 23:49] tsloughter commented on #70
What kind of state?

Because with https://github.com/open-telemetry/opentelemetry-erlang we are going with only the process dictionary for context I think we'd do well to define standards and best practices for using the pdict this way.

The ctx library may still be of use but I want to switch it to storing stuff in the pdict instead of returning a record.

[2020-01-25 18:27] tsloughter opened #80 "Improved acceptor pool"
I've wanted to bring this up for a while and just realized I have a perfect PR on another project that shows what I'd want to do, so I'm opening this with https://github.com/adoptingerlang/service_discovery/pull/9/files

The reason I've been hesitant to bring it up is Elli currently has no dependencies and I'd expect adding a dependency would be controversial because of that.

The dependency would

[2020-01-29 15:49] tsloughter commented on #80
I need to write examples to actually test this with Elli but acceptor_pool is also supposed to be built for release upgrades to work properly.

[2020-01-29 22:04] yurrriq commented on #80
Sounds good to me!

[2020-05-01 17:24] alanvoss opened #83 "request host, port, and scheme all missing when running localhost"
when implementing my handle function on localhost, I was hoping to be able to utilize `scheme`, `host`, and `port`.  I keep getting `undefined`.  I admittedly am not super slick with erlang, but the rest of the application works correctly (when getting `raw_path`, for example, everything is as expected).

https://github.com/elli-lib/elli/blob/21e2eeb5c718d42aca4a7014db488b4b47799450/src/elli_reque

[2020-05-01 17:31] tsloughter commented on #83
Thanks, Alan!

I asked him to open this here even though I think the underlying problem is likely in Erlang's packet parser since Elli just does:

[code]

So if Erlang packet parser is incorrectly returning `{abs_path, Path}` instead of `absoluteURI` this would happen and I think looks to be the only way it would happen.

But will need to verify this and could still be an Elli issue.

[2020-05-11 02:58] yurrriq commented on #83
Thanks! I can have a look sometime this week.

[2020-05-18 03:35] sg2342 opened #84 "failed TLS handshakes spawn new acceptors"
because `elli_tcp:accept/3` sends the `'accepted'` cast after successful `ssl:transport_accept/2` but before `ssl:ssl_accept/2` succeeds, any failed TLS handshake will result in an additional process. The process that called `elli_tcp:accept/3` will continue to loop (in `elli_http:accept/4` ).

This is a problem because anything that can reach the tcp listening port can create an arbitrary number

[2020-05-19 14:15] yurrriq commented on #83
Wishful thinking, it seems. Will try for this week. Feel free to beat me to it.

[2020-05-25 21:15] paulo-ferraz-oliveira opened #86 "Release request"
Hi. Do you suppose we'll have a release soon? `master` seems to have fallen a bit behind develop, but in the meanwhile 3.1.0 and 3.2.0 have been released and post-3.2.0 code has been added to develop. Thanks.

[2020-05-25 21:24] tsloughter commented on #86
Sure, I think so.

As for master... ugh, I dislike that `master` is not the default branch :). I'd like to change this project to simply use master as the default branch and get rid of that issue.

@yurrriq are you ok with that?

[2020-05-25 22:05] paulo-ferraz-oliveira commented on #86
:-) I tend to use `master` and `develop` in development teams (private projects), but not public projects, since this brings extra overhead that's usually not that useful. In any case, we also use git-flow and the develop/master combo seems to work just fine.

[2020-05-26 18:31] yurrriq commented on #86
I'm fine either way.

[2020-07-01 01:06] paulo-ferraz-oliveira commented on #86
Hi, @tsloughter. I'm going to create a new PR so that nothing from `develop` gets lost in `master` and then you can release when time allows for it.

**Edit**: I've opened #89 so that a release may occur. Closing this one!

[2020-07-07 01:41] paulo-ferraz-oliveira commented on #86
I'm reopening this as a way to re-request the release, since I closed #89 as discussed previously.

[2020-07-07 13:23] tsloughter commented on #86
Sorry about that, done this morning. 3.3.0 is published.

[2020-07-07 13:27] tsloughter commented on #86
Default branch has been changed to `main`. I deleted the `master` branch since that'd jus tbe confusing and it was 51 commits behind `develop`. I think we should delete `develop` soon to also not cause confusion.

[2020-07-07 21:44] paulo-ferraz-oliveira commented on #86
Hm... :D did you push it? https://github.com/elli-lib/elli/tags states `3.2.0` as latest.

[2020-07-07 21:45] paulo-ferraz-oliveira commented on #86
I agree. 👍

[2020-07-07 21:48] tsloughter commented on #86
Forgot the tag, will push that in a minute.

[2020-07-09 12:56] paulo-ferraz-oliveira commented on #86
You didn't, did you? :D

[2020-07-09 15:23] tsloughter commented on #86
pushed

[2020-07-09 20:54] paulo-ferraz-oliveira commented on #86
I confirm :D thanks for this.

[2020-07-09 20:54] #86 closed, assigned to nobody

[2020-09-25 11:52] paulo-ferraz-oliveira commented on #59
@yurrriq this is done. Issue could be closed.

[2020-09-26 08:24] #59 closed, assigned to nobody

[2020-11-25 21:09] #84 closed, assigned to nobody

[2020-11-25 21:12] yurrriq opened #94 "Cut 4.0 release"
Depends on #93, at least. This is just a reminder for now.

[2020-11-30 19:26] jeffgrunewald opened #95 "Elli throws an exception when returning unexpected HTTP status codes"
It appears that when attempting to generate an HTTP status code binary description, Elli is unable to handle any codes that are not included in the list of handled function heads in `elli_http.erl` or a binary.

When receiving and attempting to handle non-standard or uncommon HTTP status codes, the handler crashes.

Since `elli.erl` declares a response type to be any integer between 100..999 inclu

[2020-12-01 22:08] yurrriq commented on #95
Thanks for the report and PR. Merged #96.

[2020-12-01 22:08] #95 closed, assigned to nobody

[2021-01-12 00:11] jeffgrunewald opened #97 "Exporting additional functions"
We're using Elli in a project and finding a couple of functions currently private to the `elli_http` module that would be useful for us to have access to and hoping you agree there's no reason not to expose them for external use.

`elli_http:send_file/5` - this one looks like it could be exposed already to mirror the exported `elli_http:send_response/4` and is already fully spec'd and documented.

[2021-01-12 00:16] jeffgrunewald commented on #97
Addressed by https://github.com/elli-lib/elli/pull/98 as a proposed solution.

[2021-01-19 18:45] #97 closed, assigned to nobody

[2021-01-20 05:51] jeffgrunewald opened #99 "Flaky SSL test returning `{badmatch, []}` periodically"
Currently there appears to be a timing issue in executing the `elli_ssl_tests`. This was observed during trivial changes refactoring function internals without changing their end result and exposing private functions as public. It was also observed on different OTP versions within the matrix execution running in GitHub actions (the first time on OTP 22.3.4.2, the second time on OTP 21.3.8.16) and

[2021-01-20 05:52] jeffgrunewald commented on #99
The relevant Erlang setup step running in CI during these builds is bajankristof/setup-erlang@master

[2021-01-20 06:24] yurrriq commented on #99
Thank you!

[2021-01-28 01:28] paulo-ferraz-oliveira opened #100 "Release request"
Would it be possible to tag a release, here and in Hex.pm?

Many thanks.

[2021-01-28 05:39] yurrriq commented on #100
Thanks for the reminder. I can do it this weekend, if Tristan doesn't beat me to it :smile:

[2021-01-28 13:25] paulo-ferraz-oliveira commented on #100
No worries. No hurry. 🕺

[2021-02-01 04:57] yurrriq commented on #100
I'll plan to cut and publish v3.4.0 tomorrow.

[2021-02-02 03:43] yurrriq commented on #100
On second though.. I'd prefer to get #93 merged and cut a 4.0 release instead, given that we've change the case-sensitivity in headers and such. So unless you need a patch release cut off of 3.3.0, I'd say this is a duplicate of #94.

[2021-02-02 03:44] yurrriq commented on #64
Closing this due to inactivity and ghost status.

[2021-02-02 03:44] #64 closed, assigned to nobody

[2021-02-02 03:46] yurrriq commented on #13
Closing in favor of instrumentation API in #27.

[2021-02-02 03:46] #13 closed, assigned to nobody

[2021-02-02 03:48] yurrriq commented on #35
Closing in favor of #70

[2021-02-02 03:48] #35 closed, assigned to nobody

[2021-02-02 03:51] paulo-ferraz-oliveira commented on #100
Sure, we can close it as a duplicate :-) thanks. Btw, where will the incompatibilities be pointed out? e.g. do you have a MIGRATION document?

[2021-02-02 03:51] #100 closed, assigned to nobody

[2021-02-02 04:06] yurrriq commented on #78
Opened https://github.com/elli-lib/elli-examples/issues/8

[2021-02-02 04:08] yurrriq commented on #78
Is there some way we could use the Plug design for the shared interface?

[2021-02-02 04:22] yurrriq opened #101 "Move tests to a CT suite"
See discussion on https://github.com/elli-lib/elli/pull/90

[2021-02-02 04:29] yurrriq commented on #38
Hmm.. looks like something's gone wrong with the last couple times publishing to hexdocs. Not my wheelhouse, though I'd be happy to look into it. Ideally we can fix this for 4.0

[2021-02-02 04:39] yurrriq commented on #100
I've updated the change log in #102, and so far it's just the header case sensitivity that's potentially breaking, unless you count fixing #90 :smile:

[2021-02-02 13:06] tsloughter commented on #78
I wouldn't.

But I'd be open to reviving https://github.com/tsloughter/elna, just not sure if there is a user base out there.

Also, I've been meaning to merge in an acceptor_pool interface to chatterbox and submit one for elli, then they'll both be easily combined, tho with their own handlers, so only useful for those who have a specific use-case where they want the http1/http2 to be handled by s

[2021-02-03 00:01] yurrriq opened #103 "Drop OTP =<21 support"
Ref: #93 #51 #54 ...

[2021-02-06 21:20] CharlesOkwuagwu opened #104 "ellie (or erlang ssl) not sending intermediate certs - breaks the ssl chain."
I have setup a very simple Elli ssl server here:  https://paperlesssolutionsltd.com.ng:333

via https://www.sslshopper.com/ssl-checker.html#hostname=https://paperlesssolutionsltd.com.ng:333 I can see that the ssl chain is broken:

![image](https://user-images.githubusercontent.com/1735005/107129914-2dbcdf80-68c9-11eb-9d0a-afae54f21069.png)

Please what am i missing in my setup?

[code]

[2021-02-07 12:40] CharlesOkwuagwu commented on #104
was an issue with the Erlang version.
Upgrading to 23.2.4 solved it

https://elixirforum.com/t/making-ssl-tests-all-pass-for-phoenix-lets-encrypt/3507/30?u=charleso

[2021-02-07 12:40] #104 closed, assigned to nobody

[2021-02-07 13:59] tsloughter commented on #104
Oh, good :)

[2021-02-10 20:30] CharlesOkwuagwu opened #105 "Additional SSL options are being discarded ..."
There are several optional setting that could be passed along to the underlying erlang ssl system:

https://elixirforum.com/t/making-ssl-tests-all-pass-for-phoenix-lets-encrypt/3507/15

[code]

Elli discards the rest of the `Opts`and only keeps two:

https://github.com/elli-lib/elli/blob/d22bc09e07da4c62bb1cf9197a9e83ea04c3e54f/src/elli.erl#L135-L137

I suggest we pass through all additional param

[2021-02-10 23:03] yurrriq commented on #105
Thanks for the report, and the PR!

[2021-04-19 15:15] jeffgrunewald commented on #83
For what it's worth, this appears to be related to the contents of the packet being passed back from the `prim_inet` module _not_ containing the scheme, host, or port information. I've tested this locally on MacOS running Big Sur as well as in a container (either Ubuntu or Debian) and a POST request to a local endpoint `"http://localhost:4000/create"` in a test app results in a packet starting wit

[2021-05-02 12:00] CharlesOkwuagwu opened #108 "We get request_timeout for completed requests"
Good Day,

Should we get `request_timeout `on completed requests?

For example, a fetch is issued to an endpoint, and it returns successfully with a `[200, data]`

We still receive a `request_timeout` after a while.

Is this expected behavior, and if so why?

Also, `request_timeout `comes without any info, adding `[self()]` might give some context to this event.

Cheers.

[2021-06-05 01:17] tsloughter commented on #83
Oh weird, thanks @jeffgrunewald

I wonder if we are supposed to just infer "localhost" if nothing else is there.

I was going to say the port could be taken from the socket itself but it should probably be the port in the URL and not the port being listened on, since those could technically be different.

[2021-07-03 17:10] jeffgrunewald commented on #83
Where should we get the URL from if it's not able to be parsed from the packet? The `host` entry in the headers list? Is that something we could reliably count on to be present in a request from any given client?

[2021-09-27 22:19] jeffgrunewald commented on #83
FWIW, it looks like Cowboy attempts to get around this issue by primarily pulling the host from the clients’ `host` header value and raising an exception if it’s not set, referring to the value being required by RFC7230 5.4: https://github.com/ninenines/cowboy/blob/2a082504996afccf78185182cd168123800bd4f0/src/cowboy_http.erl#L717

[2022-01-17 06:23] SisMaker opened #109 "Can the server handle requests for the " transfer-Encoding: chunked" header?"
I looked at the project code and it seems that the HTTP parsing request code does not handle the "transfer-encoding: chunked" case, am I wrong?

[2022-01-21 05:11] yurrriq commented on #109
It should, see also: https://github.com/elli-lib/elli/blob/2.1.2/test/elli_tests.erl#L394-L417

[2022-01-26 12:14] SisMaker commented on #109
Ok, I'll check it out

[2022-01-26 12:14] #109 closed, assigned to nobody

[2022-02-19 14:52] tsloughter commented on #83
Thanks @jeffgrunewald

I opened a PR to have `scheme` get set. I guess we can go with `host` header for how to set the port and host.

[2022-02-24 09:57] lud opened #111 "Invalid spec for elli:stop/1"
The current spec is:

[code]

Shouldn't it be just:
[code]

[2022-02-24 11:29] paulo-ferraz-oliveira commented on #111
It should. `dialyzer` isn't able to pick it up because the execution sits behind `gen_server`.